{% load static %}
{% load crispy_forms_tags %}   
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Codepad - Create</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'create.css' %}">
    </head>
    <body>
        {% block content %} 
		<div class="container py-5">
			<form method="POST">
				{% csrf_token %}
				{{ create_form|crispy }}                    
				<button class="btn btn-primary" type="submit">Create</button>
			</form>
		</div>
		{% endblock %}
    </body>
</html>