@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
--main-background: #0b0c0f;
--main-fonts-color: #fff;
--main-decor-color: #00a9e2;
--main-header-background: #21252e;
--main-fonts-family: 'Poppins', sans-serif;
}
body {
	background: var(--main-background);
}
div.text {
	background: var(--main-background);	
}
h1 {
	margin: 0px;		
	letter-spacing: normal;
	font-family: var(--main-fonts-family);
	font-style: normal;
	font-size: 60px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
	text-align: center;
}

label {
	color: var(--main-fonts-color);
}