@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
--main-background: #0b0c0f;
--main-fonts-color: #fff;
--main-decor-color:#00a9e2;
--main-header-background:#21252e;
--main-font-family: 'Poppins', sans-serif;
}
body {
	background: var(--main-background);
}
img.logo {
	width: 150px;
	height: 150px;
}
div.logo {
	padding-left: 0.75%;
}
.sidenav {
	height: 100%;
	width: auto; 
	position: fixed; 
	z-index: 1; 
	top: 150px; 
	left: 0;
	background-color: #0b0c0f; 
	overflow-x: hidden; 
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: var(--main-decor-color);
	display: block;
	font-family: var(--main-font-family);
	line-height: 15vh;
	text-align: center;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 160px; 
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}