@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
--main-background: #0b0c0f;
--main-fonts-color: #fff;
--main-decor-color:#00a9e2;
--main-header-background:#21252e;
--main-font-family: 'Poppins', sans-serif;
}
body {
	background: var(--main-background);
}